@import 'tailwindcss';

html {
  height: 100%;
  scroll-behavior: smooth;
}

@theme {
  --color-principal: rgb(12, 44, 85);
  --color-secondary: rgb(41, 99, 116);
  --color-primaryText: oklch(96.8% 0.007 247.896);
}
